#book-picture {
    margin-left: 5%;
    margin-top: 4%;
    position: relative;
    width: 28vw;
    height: 44vh;
    float: left;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, gold, lightblue) 1;
}

#book-descriptors-div > p {
    margin-left: 5vw;
    font-size: 1.5vw;
}

#book-descriptors-div > button {
    margin-left: 5vw;
}

#book-descriptors-div > button > p {
    font-size: 2vw;
    margin: 0px;
}

#book-div{
    display: flex;
    margin-bottom: 20px;
}

#book-descriptors-div {
    float: left;
    margin-top: 5vh;
}
