#book-picture{
    margin-left: 5%;
    margin-top: 4%;
    position: relative;
    width: 22vw;
    float: left;
}

#book-descriptors-div > p {
    margin-left: 5vw;
    /* margin-top: 15%; */
    font-size: 2vw;
}

#book-descriptors-div > button {
    margin-left: 5vw;
    /* margin-top: 15%; */
}

#book-descriptors-div > button > p {
    font-size: 2vw;
    margin: 0px;
}

#book-div > * {
    display: inline;
    vertical-align: top;
}

#book-descriptors-div {
    float: left;
    margin-top: 5vh;
}
