#home-img {
    border: 0;
    margin: 0;
    padding: 0%;
    width: 100px;
}

#home-button{
    background-color: transparent;
    border: none;
    margin-left: 40px;
    margin-top: 40px;
}

#home-button:hover {
    background-color: lightgoldenrodyellow;
}

#header-div {
    height: 200px;
    overflow: hidden;
}

#page-title {
    text-align: center;
    font-size: 100px;
    margin-left: 441px;
    margin-top: -147px;
    position: absolute;

}

.book-button{
    max-height: 300px;
}

body {
    background-color: lightgray;
}