#homepage-books {
    margin: 1vw;
}

#recommend-books {
    margin: 1vw;
}

.book-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
}

.book-button-img {
    height: 72vh;
}

#cart-img {
    width: 10vw;
}

#add-book-img {
    width: 10vw;
}

#cart-btn {
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    transform: scale(0.65);
    top: -25px;
    right: -25px;
}

#add-book-btn {
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    transform: scale(0.65);
    bottom: -25px;
    left: -25px;
}