#homepage-books {
    margin-left: 5vw;
}

.book-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.book-button-img {
    height: 72vh;
}

#cart-img {
    width: 10vw;
}

#cart-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
}