<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="javascript/common.js"></script>
    <script src="javascript/book.js"></script>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/book.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="icon" type="image/x-icon" href="/images/home_button.png">
</head>
<body>
    <header>
        <button id="home-button" onclick="goHome()">
            <img id="home-img" src="images/home_button.png" alt="Home button not found">
        </button>
        <p id="page-title"><strong><em>Amazin Books!</em></strong></p>
        <div id="login-reg-div">
            <button class="login-reg-btn" onclick="goToLogin()"><p class="login-reg-text">login</p></button>
            <button class="login-reg-btn" onclick="goToRegister()"><p class="login-reg-text">Register</p></button>
            <button class="login-reg-btn" onclick="logout()" id="log-out-btn" hidden><p id="log-out-text" class="login-reg-text">Log out</p></button>
            <button class="login-reg-btn" onclick="goToOrders()" id="order-btn" hidden><p class="login-reg-text">Orders</p></button>
        </div>
    </header>
    <p id="book-id" hidden th:text="${id}"></p>
    <div id="book-div">
        <img id="book-picture" alt="Book picture not found">
        <div id="book-descriptors-div">
            <p id="book-title"></p>
            <p id="book-isbn"></p>
            <p id="book-description"></p>
            <p id="book-author"></p>
            <p id="book-publisher"></p>
            <p id="book-price"></p>
            <button id="buy-btn" onclick="addBookToCart()"><p>Add to Cart</p></button>
        </div>
    </div>
    <button id="cart-btn" onclick="goToCart()" hidden><img id="cart-img" src="images/cart2.png" alt="cart-btn not found"></button>
</body>
</html>