<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="javascript/common.js"></script>
    <script src="javascript/book.js"></script>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/book.css">
    <link rel="icon" type="image/x-icon" href="/images/home_button.png">
</head>
<body>
    <div id="header-div">
        <button id="home-button" onclick="goHome()">
            <img id="home-img" src="images/home_button.png" alt="Home button not found">
        </button>
        <p id="page-title"><strong><em>Amazin Books!</em></strong></p>
    </div>
    <div>
        <img id="book-picture" th:src="${path}" alt="Book picture not found">
        <p id="book-title" th:text="${path}"></p>
    </div>
</body>
</html>