<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="javascript/common.js"></script>
    <script src="javascript/index.js"></script>
    <script src="javascript/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="javascript/datatables.min.js"></script>
    <link rel="stylesheet" href="stylesheets/datatables.min.css"/>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="icon" type="image/x-icon" href="/images/home_button.png">
</head>
<body>
    <header>
        <button id="home-button" onclick="goHome()">
            <img id="home-img" src="images/home_button.png" alt="Home button not found">
        </button>
        <p id="page-title"><strong><em>Amazin Books!</em></strong></p>
        <div id="login-reg-div">
            <button class="login-reg-btn" onclick="goToLogin()"><p class="login-reg-text">login</p></button>
            <button class="login-reg-btn" onclick="goToRegister()"><p class="login-reg-text">Register</p></button>
            <button class="login-reg-btn" onclick="logout()" id="log-out-btn" hidden><p class="login-reg-text" id="log-out-text">Log out</p></button>
            <button class="login-reg-btn" onclick="goToOrders()" id="order-btn" hidden><p class="login-reg-text" id="order-text">Orders</p></button>
        </div>
    </header>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Amazin books!</p>
    <div id="recommend-books">
    </div>
    <div id="homepage-books">
    </div>
    <button id="cart-btn" onclick="goToCart()" hidden><img id="cart-img" src="images/cart2.png" alt="cart-btn not found"></button>
</body>
</html>